.calculator {
    display: flex;
    width: 15vw;
    flex-direction: column;
    row-gap: 2vh;
    margin: 20px auto;
    background-color:#2f4f4f;
    padding: 1.5vh;
    border-color: black;
}

.calculator_screen {
    width: 100%;
}

input {
    width: 15vw;
    height: 50px;
    padding: 10px;
    border: 1px solid black;
    border-radius: 2%;
    box-sizing: border-box;
    font-size: 30px;
    font-weight: 400;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif
    
}

.calculator_keyboard {
    display: flex;
    width: 100%;
    flex-wrap: wrap;
    justify-content: space-evenly;
    row-gap: 1vh;
}

button {
    width: 50px;
    height: 50px;
}

.numbers {
    background-color: #74A7A7;
    color:white;
}

.operations {
    color:white;
    background-color: #0F3333;
}

#OK {
    background-color:#ffc95ed9;
    color:white;

}